/*@keyframes movelr {
	0%{height: 0px;}
	100%{height: 300px;}
}*/


@-webkit-keyframes abs {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(300px);
	}
}

.anim-box {
	position: relative;
	height: 500px;
	width: 500px;
	border: 2px solid blue;
	/*margin: 10px auto;*/
}
.anim-box div{
	border: 2px solid blue;
}

.moveR {
	/*margin-left: 50px;*/
	/*width: 500px;*/
	/*height: 500px;*/
	/*background: #33B5E5;*/
	position: absolute;
	/*top:50%;*/
	/*left: 50%;*/
	/*right:50%;*/
	/*bottom: 50%;*/
	bottom: 0;
	/*margin: 10px auto;*/
	animation-name: abs;
	animation-duration: 3s;
	animation-direction: normal;
	animation-iteration-count: 1;
	-webkit-animation-name: abs;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: both;
	/*-webkit-animation-duration: 1s;*/
	/*-webkit-animation: abs 5s infinite alternate ease;*/
	-webkit-animation-timing-function: ease;
}

@keyframes tiao {
	23%,
	43%,
	60%,
	77%,
	90%,
	96% {
		transform: translateY(0px);
		transform: scaleY(0.5);
	}
	0%,
	100% {
		transform: translateY(0px);
		transform: scaleY(1);
	}
	1%,
	11%,
	13%,
	22%,
	24%,
	32%,
	33%,
	42,
	44% {
		transform: scaleY(1);
	}
	12% {
		transform: translateY(-100px);
	}
	33% {
		transform: translateY(-80px);
	}
	52% {
		transform: translateY(-60px);
	}
	69% {
		transform: translateY(-40px);
	}
	84% {
		transform: translateY(-20px);
	}
	93% {
		transform: translateY(-10px);
	}
	98% {
		transform: translateY(-5px);
	}
}
@keyframes anim-opacity{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes ChangeSize {
	from {
		/*width: 50px;*/
		/*height: 50px;*/
		/*border-radius: 50px;*/
		transform: scale(0.1,0.1);
	}
	to {
		transform: scale(1,1);
		/*width: 500px;*/
		/*height: 500px;*/
		/*border-radius: 500px;*/
	}
}

.tiao {
	/*width:100px;*/
	/*height:100px;*/
	/*background:red;*/
	position: absolute;
	animation-name: tiao;
	animation-duration: 3s;
	/* Safari and Chrome */
	-webkit-animation-name: tiao;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	animation-timing-function: ease;
}
.MaxSize{
	animation-name: ChangeSize;
	animation-duration: 1s;
	animation-delay: 3s;
	transform-origin: center;
	animation-fill-mode: both;
	
}
.colorbox {
	position: absolute;
	bottom: 0;
	width: 500px;
	height: 500px;
	color: red;
	background: red;
	border: 1x solid transparent;
	border-radius: 500px;
	transform: scale(0.1,0.1);
	/*transform: skew(250px,250px);*/
	transform-origin: bottom center;
}