#loading-lay{
	display: flex;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 99999;
}


/*loading动画Begin*/

.loading {
	margin: 0 auto;
	width: 50%;
	height: 60px;
	text-align: center;
}

.loading > div {
	background-color: #67CF22;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: loading 1.2s infinite ease-in-out;
	animation: loading 1.2s infinite ease-in-out;
}

.loading .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.loading .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.loading .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.loading .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes loading {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes loading {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

@-webkit-keyframes hideths {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0.01;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes hideths {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0.01;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@-webkit-keyframes showhs {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0.01;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes showhs {
	0% {
		opacity: 0;
		display: none;
	}
	99% {
		opacity: 0.99;
		display: block;
	}
	100% {
		opacity: 1;
		display: block;
	}
}


/*loading动画End*/

.hide-trans {
	transition: opacity 0.3s ease;
	opacity: 0;
}

.hide-anim {
}