@import './vmode/var.less';

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}
/* 设置默认字体 */
input,
textarea,
select,
button {
    outline: none;
    resize: none;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
    border: 0;
    font-variant: normal;
}
del {
    text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
    font-style: normal;
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
.r80 {
    font-size: 1.6*@rem;
}
.r62 {
    font-size: 1.2*@rem;
}
.r38 {
    font-size: 0.76*@rem;
}
h1,
.r54 {
    font-size: 1.08*@rem;
}
h2,
.r50 {
    font-size: 1*@rem;
}
h3,
.r42 {
    font-size: 0.84*@rem;
}
h4,
.r36 {
    font-size: 0.72*@rem;
}
h5,
.r34 {
    font-size: 0.68*@rem;
}
small,
.text-box5 {
    font-size: 72%;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
    list-style: none;
}
/*字体显示优化*/
html {
    font-family: "Microsoft YaHei", sans-serif;
    background-color: #FFF;
    overflow-y: auto;
}
html,
body,
div,
p,
figcaption,
figure,
time,
address,
span {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Microsoft YaHei", Arial, sans-serif;
}
p {
    word-break: break-word;
}
a {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: #888;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
a:active {
    color: #666;
    text-decoration: none;
}
/* 重置文本格式元素 */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    border: 0;
}
iframe {
    width: 100%;
}
div {
    display: block;
}
/* 清除浮动 */
.clearfix:after {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
/*文字*/
.hem1 {
    height: 1em;
}
.container {
    color: #fff;
    width: 100%;
}
/*表单验证样式*/
.inputerr {
    background-color: rgba(255, 10, 50, 0.1);
    border: 1px solid rgba(255, 10, 50, .9);
    box-shadow: inset 1px 0 3px rgba(255, 10, 50, .5);
}
/*提示弹出框样式，input标签的一定要有一层父DIV并有定位*/
.inputerrtip {
    position: absolute;
    background-color: rgba(116, 46, 6, 0.64);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.inputerrtip .tiptext {
    position: absolute;
    vertical-align: middle;
    top: 10%;
    right: 10%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    opacity: 1;
    color: #fff;
}
.fadeOut,
.inputerrtip .fadeOut {
    transition: all 0.5s;
    transition-timing-function: ease;
    opacity: 0!important;
}
.fadeIn,
.inputerrtip .fadeIn {
    transition: all 0.5s;
    transition-timing-function: ease;
    opacity: 1!important;
}
.mirrorX {
    transform: rotateX(180deg);
    transform-origin: 50% 50%;
}
.mirrorY {
    transform: rotateY(180deg);
    transform-origin: 50% 50%;
}
/*输入框表单样式*/
.form-control input {
    display: inline-block;
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 2px 2px rgb(92, 92, 92);
    color: #777777;
    width: 79%;
    padding: 7% 8% 7% 12%;
    background-color: #eee;
    font-size: 0.72*@rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.form-control label {
    position: relative;
    display: block;
}
/*遮罩.对齐的功能类*/
.hide {
    display: none;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
}
.box {
    background-color: rgba(0, 0, 0, .5);
    margin: 10px;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ccc;
}
.flexbox {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
}
.flexbox.center {
    -webkit-flex-pack: center;
    -moz-flex-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    justify-content: center;
}
.flexbox.left {
    -webkit-flex-pack: flex-start;
    -moz-flex-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-box-pack: flex-start;
    justify-content: flex-start;
}
.flexbox.right {
    -webkit-flex-pack: flex-end;
    -moz-flex-pack: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-box-pack: flex-end;
    -moz-box-pack: flex-end;
    -ms-box-pack: flex-end;
    justify-content: flex-end;
}
.flexbox.middle {
    -webkit-flex-align: center;
    -moz-flex-align: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    align-items: center;
}
.flexbox.top {
    -webkit-flex-align: flex-start;
    -moz-flex-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-box-align: flex-start;
    -moz-box-align: flex-start;
    -ms-box-align: flex-start;
    align-items: flex-start;
}
.flexbox.bottom {
    -webkit-flex-align: flex-end;
    -moz-flex-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    -moz-box-align: flex-end;
    -ms-box-align: flex-end;
    align-items: flex-end;
}
.transparent {
    opacity: 0;
}
.opaque {
    opacity: 1;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.h-loading {
    z-index: 100;
}
.abs-both {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.abs-zero {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.abs {
    position: absolute;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.rel-both {
    position: relative;
    width: 100%;
    height: 100%;
}
.rel {
    position: relative;
}
.fixed-both {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.both {
    width: 100%;
    height: 100%;
}
.fixed {
    position: fixed;
}
/*表格方式设定绝对自适应居中*/
.center-table,
.alert-bg {
    display: table;
    text-align: center;
}
.center-cell,
.alert-cell {
    display: table-cell;
    vertical-align: middle;
}
.alert-bg {
    position: absolute;
    z-index: 1400;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.alert-cell .alert-contnet {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}
/*安卓适配*/
/*@media screen and (min-device-height:490px) and (max-device-height:550px){
    body{
        font-size: 16px;
    }
}*/
/*@media (-webkit-max-device-pixel-ratio: 3) {
    body{
        font-size: 24px;
    }
}
@media screen and (-webkit-max-device-pixel-ratio: 2.5) {
    body{
        font-size: 22px;
    }
}

@media screen and (-webkit-max-device-pixel-ratio: 2) {
    body{
        font-size: 18px;
    }
}

@media screen and (-webkit-max-device-pixel-ratio: 0.75) {
    body{
        font-size: 14px;
    }
}*/
@media (-webkit-min-device-pixel-ratio:2) {
    @media (device-height:480px) {
//      兼容iphone4/4s
    }
    @media (device-height:568px) {
//      兼容iphone5
    }
    @media (device-height:667px) {
//      兼容iphone6
    }
}
@media (-webkit-min-device-pixel-ratio:3) {
    @media (device-height:736px) {
//      兼容iphone6 Plus
    }
}