button,
.text-fff {
	color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}
body {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.container {
	background: url(../images/bg1.jpg) repeat-y;
	background-size: 100% auto;
	z-index: 2;
	height: 35.88rem;
}

.body-bg,
.bg-1{
	background: url(../images/bg1.jpg) repeat-y;
	background-size: 100% auto;
}

#share,
#share .container,
#share .body-bg,
.act-bg {
	background: url(../images/actin-bg.jpg) 0 -2.52rem repeat-y;
	background-size: 100% auto;
}
.body-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#share .title .light-red {
	background-position-x: -1rem;
	background-size: 100% 76%;
}

#share .banner .title {
	width: 100%;
	margin-bottom: 10rem;
}

#share .banner .title .main {
	margin-top: 0.2rem;
	width: 19.36rem;
	height: 3.2rem;
	background-image: url(../images/banner_title_share.png);
}

.foot-text {
	margin-top: 2.1rem;
}

.foot-text h5 {
	line-height: 1.36rem;
}

.banner {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	padding-top: 0.8rem;
}

.top-tips {
	font-size: 0.76rem;
	color: #02eef0;
}

#share .top-tips {
	font-size: 0.76rem;
	text-shadow: 0 0.06rem 4px #000;
}

.banner .team-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 10rem;
	height: 4.842rem;
	background: url(../images/banner_bg.png) no-repeat;
	background-size: 100% 100%;
}

.banner .title {
	width: 12.72rem;
	padding-top: 3.3rem;
	padding-bottom: 0.24rem;
}

.title .main {
	width: 12.72rem;
	height: 2.8rem;
	background: url(../images/banner_title.png);
	background-size: 100% auto;
}

.title div {
	position: relative;
}

.title .light-red {
	position: absolute;
	top: 3.2rem;
	left: 0;
	right: 0;
	width: 100%;
	height: 3.8rem;
	background: url(../images/light-red.png) -1rem 0.5rem no-repeat;
	background-size: 130% 70%;
	z-index: 0;
}

.title .subhead {
	z-index: 10;
	font-size: 1.08rem;
	width: 8em;
	margin-right: 0.1rem;
	margin-left: auto;
}

.text-shadow {
	text-align: right;
	position: relative;
}

.text-shadow span {
	position: relative;
	font-weight: 500;
	text-shadow: 0 3px 4px #000;
	z-index: 10;
}

.text-shadow i {
	position: absolute;
	width: 100%;
	top: 0.1rem;
	right: 0;
	color: rgba(0, 0, 0, 0.9);
	height: 100%;
	font-weight: bolder;
	text-shadow: 0 2px 3px #000;
	z-index: 1;
}

.banner .footer-text {
	font-size: 0.72rem;
	width: 15rem;
}

.footer-text p {
	padding: 0.36rem 0;
}

.colorbar {
	width: 13.18rem;
	height: 0.16rem;
	background-color: #fff;
	margin: 0 0.2rem;
}

.banner .pg-icon {
	position: absolute;
	top: 2.16rem;
	right: -0.34rem;
	width: 8.52rem;
	height: 8.2rem;
	background: url(../images/banner_ico8.png) no-repeat;
	background-size: 100% auto;
}


/*//表单输入的小标示*/

.form-control input {
	width: 79%;
	padding: 6% 8% 6% 12%;
	font-size: 0.72rem;
	font-weight: bold;
}

i.border-left {
	position: absolute;
	width: 2px;
	left: 8%;
	top: 23%;
	bottom: 23%;
	background-color: #aaa;
}
.input-block{
	width: 14rem;
	margin:0 auto 0.8rem auto;
}


#create-team i.border-left {
	left: 1.2rem;
}


/*我的战队状态块*/

.myteam-count {
	margin-top: 0.5rem;
}

.team-block {
	margin: 0.36rem 1.12rem 1.36rem 1.12rem;
	height: 6.52rem;
	padding: 0.8rem 1.2rem;
}

.join-team.team-block {
	height: 5.4rem;
}

.join-cont.join-cont {
	height: 7.68rem;
}

.team-block .sub-title {
	display: inline-block;
	font-size: 0.72rem;
	width: 5.8rem;
	margin-right: 0.3rem;
}

.team-block .name {
	margin-top: 0.12rem;
	height: 0.84rem;
}

.name,
.team-progress {
	text-align: left;
	width: 100%;
	margin-bottom: 0.6rem;
}


/*进度条*/

.progress {
	display: inline-block;
	top: 0.16rem;
	left: 6rem;
	right: -0.5rem;
	/*width: 11.2rem;*/
	height: 1.18rem;
}

.progress>img {
	height: 100%;
	width: 100%;
}


/*我的战队发光边框*/

.inside-border-block {
	background: url(../images/team-border.png) no-repeat;
	background-size: 100% 100%;
	z-index:0;
}

.inside-border-block .inside,
.inside-border-block .light {
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	right: 0.2rem;
	bottom: 0.2rem;
	border-radius: 1rem;
}

.inside-border-block .inside {
	border: 0.2rem solid rgba(255, 255, 255, .26);
	box-shadow: inset 0 0 16px 2px rgba(255, 255, 255, 1);
}

.inside-border-block .light {
	box-shadow: inset 0 0 2rem 0.8rem rgba(4, 10, 42, .6);
}

.join-team>p {
	font-size: 0.72rem;
	margin-bottom: 0.76rem;
}

.join-team h4 {
	padding-top: 1rem;
	padding-bottom: 0.76rem;
}

.content {
	text-align: center;
	color: #fff;
	width: 100%;
	z-index: 100;
}

.help-tipes p {
	margin-top: 0.56rem;
	font-size: 0.68rem;
	margin-bottom: 1.4rem;
}

.Push-content,
.content>.text-block {
	padding-top: 7.28rem;
}


/*win And Over text style*/

.text-block {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.text-block h2 {
	padding-bottom: 1rem;
}

.text-block p {
	font-size: 1.14rem;
	padding-bottom: 1rem;
}


/*微信内转浏览器提示*/

.tips {
	z-index: 9000;
}

.weixin-outips {
	background-color: rgba(0, 0, 0, .8);
	padding: 40% 6.5% 0 6.5%;
	color: #fff;
	font-size: 100%;
}

.weixin-outips>div {
	height: 48px;
	margin: 14px 0;
}

.weixin-outips div>i {
	display: inline-block;
}

.weixin-outips b {
	letter-spacing: 0.2em;
}

i.dots {
	border: none;
	text-align: center;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border: none;
	background-color: #025a92;
	border-radius: 100%;
	margin-right: 10px;
}

.aorrw {
	position: relative;
	padding-left: 20%;
	width: 25%;
	top: -100%;
}

.aorrw img {
	position: relative;
	height: auto;
	width: 100%;
}

.dot-h {
	position: relative;
	text-align: center;
	padding: 8px 20px;
	margin: 0 10px;
	background-color: #025a92;
	text-align: center;
}

.dot-h span {
	display: block;
	width: 4px;
	height: 4px;
	margin: 0 auto;
	border-radius: 100%;
	background-color: #fff;
}

.dot-h span + span {
	margin-top: 2px;
}

.browser-linebox {
	padding: 6px 20px;
	background-color: #025a92;
	margin: 0 10px;
}

.browser-linebox > i {
	position: relative;
	display: inline-block;
	background: url(../images/wx_tips_b.png) no-repeat;
	background-size: 100% 100%;
	height: 24px;
	width: 24px;
	margin-right: 10px;
}


/*内容块*/

.content .info {
	font-size: 0.76rem;
	text-align: center;
	margin: 2.6rem 1rem;
}


/*文字信息*/

.info>p>span {
	margin: 0 2px;
}

.center-cont {
	margin: 0 auto;
}


/*蓝色发光数字*/

.Num-showd-block {
	font-size: 0.84rem;
	color: #00ffff;
	text-shadow: 0px 0.5px 8px #0063ec;
	padding: 0 2px;
}

.act-count {
	margin-top: 1rem;
}

.act-count,
.myteam-count {
	padding: 0.96rem 1.2rem 0.68rem 1.2rem;
}

.act-date {
	padding-bottom: 1.08rem;
}

.act-count p,
.myteam-count p {
	text-align: center;
	font-size: 0.84rem;
	word-break: break-word;
	margin: 0 auto;
}


/*发光条*/

.top.light-showd {
	top: -6rem;
}

.bottom.light-showd {
	bottom: -6rem;
}

.light-showd {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 12rem;
}

.light-showd i {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../images/Text_showd_line.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}


/*分享推送头部*/

.hotnew {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: -1.28rem;
	width: 9.9rem;
	margin: 0 auto;
}

.hotnew .hot-title {
	position: relative;
	color: #020626;
	z-index: 8;
	font-size: 0.84rem;
	line-height: 1.28rem;
}

.trapezoid {
	position: absolute;
	border-bottom: 1.28rem solid #04ecff;
	border-left: 0.54rem solid transparent;
	border-right: 0.54rem solid transparent;
	height: 0;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.7;
}

.callname {
	margin-bottom: 3rem;
}

.callname i {
	opacity: 0.8;
}

.callname .bg {
	margin-top: -0.5rem;
}

.callinfo {
	font-size: 0.68rem;
	margin-top: 0.5rem;
}


/*居中蓝色内容块*/

.block-center-blue {
	position: relative;
	margin: 0 1.28rem;
}

.block-center-blue.soild {
	margin-top: 7rem;
}

.block-center-blue h3 {
	color: #fff;
	padding-bottom: 6%;
}

.block-center-blue .block-content {
	word-break: break-word;
	padding: 2.4rem 2.2rem;
}

.block-center-blue .block-content.mini {
	word-break: break-word;
	padding: 1.32rem 2.68rem;
}

.block-bg>i {
	position: absolute;
	display: block;
	height: 100%;
}

.block-bg .bg-l {
	background: url(../images/button-a2_l.png) 100% 50% no-repeat;
	background-size: 100% 100%;
	left: 0;
	right: 90%;
	height: 100%;
}

.block-bg .bg-r {
	background: url(../images/button-a2_r.png) 0 50% no-repeat;
	background-size: 100% 100%;
	left: 90%;
	right: 0;
	height: 100%;
}

.block-bg .bg-center {
	left: 10%;
	right: 10%;
	/*margin: 0 9%;*/
	background: url(../images/button-a2_cn.png) repeat-x;
	background-size: 100% 100%;
}

.bg-lf-warp,
.bg-rf-warp {
	position: absolute;
	vertical-align: middle;
	margin: auto 0;
	overflow: visible;
	width: 0.76rem;
	height: 2.96rem;
	top: 0;
	bottom: 0;
}

.bg-lf-warp {
	left: 0;
}

.bg-rf-warp {
	right: 0.1rem;
}

.bg-lf-warp i {
	background: url(../images/border_lf.png) no-repeat 0 50%;
}

.bg-rf-warp i {
	background: url(../images/border_rf.png) no-repeat 100% 50%;
}

.bg-lf-warp i,
.bg-rf-warp i {
	position: relative;
	display: block;
	margin: auto 0;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.border-bottom {
	border-bottom: solid;
	border-top: none;
	border-bottom-left-radius: 0.8rem;
	border-bottom-right-radius: 0.8rem;
	bottom: 0;
}

.border-top {
	border-top: solid;
	border-bottom: none;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
	top: 0;
}

.border-bottom,
.border-top {
	border-width: 2px;
	border-left: solid;
	border-right: solid;
	border-color: #04ecff;
}

.bg-tb-warp {
	position: absolute;
	width: 94%;
	padding: 0 0.34rem;
	overflow: visible;
	height: 20%;
}

.border-top > i {
	top: 0.34rem;
}

.border-bottom > i {
	/*margin-top: -2%;*/
	bottom: 0.34rem;
}

.bg-tb-warp > i {
	position: relative;
	width: 100%;
	max-width: 100%;
	display: block;
	border-width: 0.04rem !important;
	height: 100%;
}


/*战队状态图*/

.block-center-team {
	position: relative;
	margin: 0 10%;
	width: 80%;
}

.block-center-team img {
	width: 100%;
	height: auto;
}


/*footer-Begin*/

.footer {
	position: absolute;
	width: 100%;
	bottom: 5.8rem;
	z-index: 101;
}

.two-button .but-block:first-child {
	margin-right: 0.6rem;
}

.border-bg>.bg {
	position: absolute;
	background-size: 100% 100%!important;
}

.but-border {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.border-bg i {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
}

.footer-but {
	width: 100%;
	padding-bottom: 3.8rem;
}


/*活动入口按钮*/

.actin-button {
	width: 16.56rem;
	height: 4.76rem;
	margin: 1.2rem auto;
}

.actin-button.mini {
	width: 11.6rem;
	height: 2.8rem;
}

.actin-button.mini:active {
	border-radius: 18px;
}

.actin-button:active {
	border: none;
	border-radius: 28px;
	box-shadow: 0 0 1.2rem 0.5rem orangered;
	opacity: 0.7;
}

.actin-button .but-cont {
	text-align: center;
	position: absolute;
	top: 0.8rem;
	bottom: 0.8rem;
	left: 2.2rem;
	right: 2.2rem;
}

.actin-button .but-cont span {
	display: block;
	font-weight: bold;
	color: #00ffff;
	font-size: 1.2rem;
	height: 1em;
	padding-bottom: 0.48rem;
	text-shadow: 0 0 8px #00ffff;
}

.actin-button.mini .but-cont span {
	font-size: 0.84rem;
}

.actin-button .but-cont p {
	font-weight: bold;
	font-size: 0.96rem;
}

.actin-button .bg.left {
	width: 2.2rem;
	background: url(../images/button_a3_lf.png) no-repeat;
}

.actin-button .bg.right {
	width: 2.2rem;
	background: url(../images/button_a3_rf.png) no-repeat;
}

.actin-button .bg.center {
	left: 1rem;
	right: 1rem;
	background: url(../images/button_a3_cn.png) no-repeat;
}


/*蓝色线框按钮*/

.but-block,
.actin-button {
	font-weight: 600;
	background-color: transparent;
	position: relative;
	display: block;
	border: none;
}

.but-block {
	width: 8.28rem;
	height: 2.32rem;
	font-size: 0.84rem;
	margin: 0 auto;
}

.but-block.rules {
	width: 5.72rem;
	height: 1.64rem;
	font-size: 0.72rem;
}

.blue-but {
	position: absolute;
	top: 8.8%;
	left: 2.857%;
	right: 2.857%;
	bottom: 10.15%;
	border: none;
	border-radius: 0.2rem;
	background-color: #008bc5;
	box-shadow: 0 0 2rem 0.1rem #3110b7;
	text-align: center;
}

.disabled {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	color: #ccc!important;
}

.rules .blue-but {
	background-color: inherit;
}

.disabled .blue-but,
.hollow .blue-but {
	background-color: inherit;
	box-shadow: inherit;
}

.two-button button {
	display: inline-block;
}

.blue-but span {
	display: inline-block;
	word-break: keep-all;
	white-space: nowrap;
	max-width: 97%;
	max-height: 94%;
	min-height: 1em;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	text-align-last: justify!important;
}

.but-block:active .blue-but {
	color: #F04124;
	background-color: #6ac1e6;
	box-shadow: 0 0 20px red;
}

.but-block .border-bg {
	width: 100%;
	height: 100%;
	z-index: 10;
}

.but-block .bg.left {
	width: 14.69%;
	background: url(../images/button_a1_l.png) no-repeat;
}

.but-block .bg.right {
	width: 14.69%;
	background: url(../images/button_a1_r.png) no-repeat;
}

.but-block .bg.center {
	position: absolute;
	left: 14.69%;
	right: 14.69%;
	background: url(../images/button_a1_cn.png) repeat-x;
}


/*浏览器里页面修正*/

.browser .footer-but {
	padding-bottom: 5rem;
}