.act-add {
	overflow: visible;
	padding-top: 1.6rem;
	margin-left: 1.24rem;
	margin-right: 1.24rem;
	margin-bottom: 0.5rem;
}

.act-add p {
	margin-bottom: 1.2rem;
}

.address-submit-tips {
	padding-bottom: 0.9rem;
}

.address-submit-tips p {
	font-size: 0.86rem;
	text-align: center;
}

.tips {
	margin-top: -0.12rem;
	font-size: 0.84rem;
	display: block;
	text-align: left;
	margin-left: 0.5rem;
}

form > div {
	background: url(../images/input-border.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 1rem;
}

form > div > label {
	position: relative;
	display: block;
	width: 100%;
	height: 3.66rem;
	line-height: 3.66rem;
}

#addressview label > input {
	padding-left: 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

label > input {
	color: #fff;
	display: inline-block;
	background-color: transparent;
	border: none;
	width: 13.8rem;
	font-size: 0.8rem;
}

label>span:first-child {
	display: inline-block;
	text-align: justify;
	text-align-last: justify;
	font-size: 0.80rem;
	width: 4em;
}

label>i {
	display: inline-block;
	width: 2px;
	font-size: 14px;
	color: #fff;
	line-height: 14px;
	background-color: #aaa;
}